.Market-body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Market-body h1 {
    font-size: 2.5vh;
}
.Market-body h2, h3, h4 {
    font-size: 1.5vh;
}
.Market-content {
    padding-inline: 10px;
    display: flex;

    height: 100%;
    justify-content: center;
}

.Market-inventory {
    flex: 1;
}

.Market-toShopping {
    flex: 1;
}

.circularProgress {
    display: flex;
    align-items: center;
    padding: 5vh;
}

.Inputs {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.SearchInput {
    display: flex;
    justify-content: center;
    align-self: center;
    min-width: 800px;
}
.ProductInput {
    display: flex;
    justify-content: center;
    align-self: center;
}
