.MarketForm-body {
    
}
.MarketForm {
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.MarketForm input {
    display: flex;
    margin: 10px;
    border-radius: 10px;
    border: 0.5;
    height: 3vh;
}
