.Sidebar {
    background-color: #2F4050;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position:fixed;
    /* Garante que a Sidebar esteja acima do conteúdo */
    z-index:1;
}
.SidebarImageContainer{
    display: grid;
    place-items: center;
}
.SidebarImage {
    display: grid;
    width: 60%;
    height: 60%;
}
.SidebarList {
    padding: 0;
    height: auto;
    width: 100%;
}
.SidebarList #active {
    background-color: #293846;
}
.SidebarListItem {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.SidebarListItem:hover {
    cursor: pointer;
    background-color: #293846;
}
.SidebarListIcon{
    flex: 30%;
    display: grid;
    place-items: center;
}
.SidebarListTitle {
    flex: 70%;
}